.webcamCapture {
    position: relative;
}

.webcamCapture__btn{
    position: absolute;
    bottom: -58px;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: gray;
}